DJANGO_SECRET_KEY=change-me-long-random-secret
DJANGO_DEBUG=False
DJANGO_ENVIRONMENT=production
DJANGO_DB_ENGINE=postgresql
DJANGO_ALLOWED_HOSTS=formular.lokavio.de,www.formular.lokavio.de
DJANGO_CSRF_TRUSTED_ORIGINS=https://formular.lokavio.de,https://www.formular.lokavio.de
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SECURE_HSTS_SECONDS=31536000
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=noreply@lokavio.de
POSTGRES_DB=bewohnerformular
POSTGRES_USER=bewohnerformular
POSTGRES_PASSWORD=change-me-database-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
PDF_COMPANY_NAME=Bewohner-Formularsystem
WEB_CONCURRENCY=3
GUNICORN_TIMEOUT=60
DJANGO_COMPILEMESSAGES=0
DJANGO_SEED_DEMO_FORMS=0
